__pycache__
pythonenv*
.python-version
.coverage
venv
.venv
venv/
__pycache__/
*.pyc

# If a virtualenv/venv is accidentally created in the repo root
pyvenv.cfg
bin/
include/
lib/
lib64/
Scripts/
share/

